:root{
  --word-color: #333333;
  --word-color2: #ffffff;
  --word-color3: black;
  --backgroud-bottom: #fff;
  --hover-color: rgba(0, 150, 255, 0.5),
  --backgroud-color: #4f4d4a;
  --light-gray: #F7F7F7;
  --transparent: rgba(255, 255, 255, 0.7); /* 50% de transparência */
  --red-color: red;
}

/* ::-webkit-scrollbar {
  display: none;
} */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url(/_images/background.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Mantém a imagem fixa ao rolar */
  background-position: center;
}

#cabecalho {
  display: flex;
  justify-content: center;
}

#menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--word-color);
}

a:hover {
  color: var(--word-color2);
  font-weight: bold;
  color: var(--light-gray);
}

#menu li {
  text-decoration: none;
  font-family: 'Orbitron', sans-serif;
  color: var(--word-color);
  background-color: var(--backgroud-bottom);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  width: 200px;
  text-align: center;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

#menu li:hover {
  cursor: pointer;
  background-color: var(--hover-color);
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  font-weight: bold;
  color: var(--light-gray);
}

#cabecalho {
  position: fixed;  /* Mantém o cabeçalho fixo na tela */
  top: 15px;           /* Alinha no topo da página */
  left: 0;          /* Alinha à esquerda */
  width: 100%;      /* Ocupa toda a largura */
  z-index: 1000;    /* Garante que fique acima de outros elementos */
  padding: 10px 0;  /* Espaçamento vertical */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Adiciona um leve sombreamento */
}

p {
  font-family: "Rubik", sans-serif;
  text-align: justify;
  margin: 30px;
  padding: auto;
  padding-bottom: 30px;
}

.aside-content {
  position: relative; /* Em vez de absolute */
  z-index: 10; /* Garante que fica acima do conteúdo */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 40px;
  text-align: center;
  background-color: var(--transparent);
  border: 1px solid #000;
  width: 500px;
  border-radius: 20px;
  color: var(--word-color3);
}

.aside-content:hover {
  background-color: var(--hover-color);
  transition: background-color 0.5s ease-in-out, color 0.10s ease-in-out;
}

h2 {
  margin-top: 40px;
  padding-top: 1px;
}

.github-image {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

html {
  scroll-behavior: smooth;
}

section {
  min-height: 100vh; /* Cada seção ocupa a tela inteira */
  padding: 20px;
}

#aboutme{
  color: var(--word-color3);
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
  text-align: center;
}

#profile{
  background-color: var(--transparent); 
  justify-content: center;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  width: 500px;
  border-radius: 20px;
  color: var(--word-color1);
}

#abilitys{
  color: var(--word-color3);
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
  text-align: center;
}

#skills{
  /* background-color: var(--transparent);  */
  justify-content: center;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  width: 500px;
  border-radius: 20px;
  color: var(--word-color1);
}

h4{
  font-size: 10pt;
  font-family: "Rubik", sans-serif;
  margin: 0;
  text-align: center;
}

#skill1{
  background-color: var(--transparent); 
  justify-content: center;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  width: 300px;
  border-radius: 20px;
  color: var(--word-color1);
  transition: transform 0.4s ease-out;
  font-family: "Rubik", sans-serif;
  text-align: justify;
}

#skill1:hover{
  transform: scale(1.1);
  transition: transform 0.4s ease-in-out;
}

#experience{
  color: var(--word-color2);
}

#projects{
  color: var(--word-color3);
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
  text-align: center;
}

#project1{
  background-color: var(--transparent); 
  justify-content: center;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  width: 500px;
  border-radius: 20px;
  color: var(--word-color1);
  transition: transform 0.4s ease-out;
  font-family: "Rubik", sans-serif;
  text-align: justify;
}

#projectName{
  text-align: center;
}

#github{
  font-size: 8pt;
  text-decoration: none;
  font-family: 'Orbitron', sans-serif;
  color: var(--word-color);
  background-color: var(--backgroud-bottom);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  width: 100px;
  text-align: center;
  transition: transform 0.4s ease-out;
}

#github:hover {
  transform: scale(2.0);
  transition: transform 0.4s ease-in-out;
}